/* Global variables */
:root {
    /* colors */
    --color-white: #ffffff;
    --color-black: #000;
    --color-light-grey: #aeaeae;
    --color-dark-grey: #6d6d6d;
    --color-orange: #ffb800;
    /* backgrounds */
    --color-bg-light: #4a4a4a;
    --color-bg-white: #ffffff;
    --color-bg-dark: #1c1c1c;

    --gradient-bg-light: linear-gradient(to right, #da9088, #ecd5a2);
    --gradient-bg-dark: linear-gradient(to right, #5c3f3c, #705b29);

    /* fonts */
    --font-family: "Roboto", Helvetica, sans-serif;
    --font-size-s: 2.5rem;
    --font-size-m: 6rem;
    --font-size-l: 7rem;

    --font-weight-normal: 400;

    /* shadows */
    --box-shadow-dark: 8px 9px 19px 4px rgba(0, 0, 0, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* dark theme */
body[data-theme="dark"] {
    /* app background */
    --bg: var(--gradient-bg-dark);
    /* calculator background */
    --calc-bg: var(--color-bg-dark);
    /* text */
    --color-text: var(--color-white);
    /* buttons */
    --color-number: var(--color-dark-grey);
    --color-operation: var(--color-light-grey);
    --color-operation-orange: var(--color-orange);
}

body[data-theme="dark"] .calculator__theme-toggler {
    background-image: url("../assets/img/light.svg");
}

/* light theme */

body[data-theme="light"] {
    /* app background */
    --bg: var(--gradient-bg-light);
    /* calculator background */
    --calc-bg: var(--color-bg-white);
    /* text */
    --color-text: var(--color-black);
    /* buttons */
    --color-number: var(--color-light-grey);
    --color-operation: var(--color-light-grey);
    --color-operation-orange: var(--color-orange);
}

body[data-theme="light"] .calculator__theme-toggler {
    background-image: url("../assets/img/dark.svg");
}

main {
    height: 100vh;
    padding: 1rem;
    background: var(--bg);
    font-family: var(--font-family);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}

.calculator {
    position: relative;
    /*     width: 40rem;
    height: 65rem; */
    background: var(--calc-bg);
    border-radius: 4rem;
    box-shadow: var(--box-shadow-dark);
    padding: 10rem 0 1.5rem;
}

.calculator__theme-toggler {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.calculator__output {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--color-text);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
}

.calculator__output-medium {
    font-size: var(--font-size-m);
}

.calculator__output-small {
    font-size: var(--font-size-s);
}

.calculator__keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1rem;
    gap: 1rem;
    justify-items: center;
    align-content: center;
}

button {
    font-size: var(--font-size-s);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    outline: none;
    border: none;
    color: inherit;
    transition: all 0.5s ease;
    background-color: var(--color-operation);
}

button:hover,
button:focus {
    opacity: 0.7;
}

.double {
    width: 100%;
    border-radius: 14rem;
    grid-area: 5/7/6/9;
}

[data-type="number"] {
    background-color: var(--color-number);
}

.orange {
    background-color: var(--color-operation-orange);
}
